NET "clock" LOC = V10;
NET "send" LOC = C9;
NET "slide_switches[0]" LOC = T10;
NET "slide_switches[1]" LOC = T9;
NET "slide_switches[2]" LOC = V9;
NET "slide_switches[3]" LOC = M8;
NET "slide_switches[4]" LOC = N8;
NET "slide_switches[5]" LOC = U8;
NET "slide_switches[6]" LOC = V8;
NET "slide_switches[7]" LOC = T5;
 
#uart pins at pmod bus A
NET "uart_rx" LOC = P11; 	#bluesmirf tx		pin is an input
NET "uart_tx" LOC = N10;   #bluesmirf rx		pin is an output

#uart pins at usb uart
#NET "fromPC" LOC = N17;
#NET "toPC" LOC = N18;

#seven segment display pins
NET "seven_seg_an[0]" LOC = N16;
NET "seven_seg_an[1]" LOC = N15;
NET "seven_seg_an[2]" LOC = P18;
NET "seven_seg_an[3]" LOC = P17;
NET "seven_seg_cath[0]" LOC = T17;
NET "seven_seg_cath[1]" LOC = T18;
NET "seven_seg_cath[2]" LOC = U17;
NET "seven_seg_cath[3]" LOC = U18;
NET "seven_seg_cath[4]" LOC = M14;
NET "seven_seg_cath[5]" LOC = N14;
NET "seven_seg_cath[6]" LOC = L14;
NET "seven_seg_cath[7]" LOC = M13;