NET "clock" LOC = V10;
NET "reset" LOC = B8;
NET "ndts_button" LOC = C9;
NET "slide_switches[0]" LOC = U16;
NET "slide_switches[1]" LOC = V16;
NET "slide_switches[2]" LOC = U15;
NET "slide_switches[3]" LOC = V15;
NET "slide_switches[4]" LOC = M11;
NET "slide_switches[5]" LOC = N11;
NET "slide_switches[6]" LOC = R11;
NET "slide_switches[7]" LOC = T11;
 
#uart pins at pmod bus A
#NET "fromPC" LOC = N10;
#NET "toPC" LOC = P11;

#uart pins at usb uart
NET "fromPC" LOC = N18;
NET "toPC" LOC = N17;

#seven segment display pins
NET "seven_seg_an[0]" LOC = N16;
NET "seven_seg_an[1]" LOC = N15;
NET "seven_seg_an[2]" LOC = P18;
NET "seven_seg_an[3]" LOC = P17;