//! **************************************************************************
// Written by: Map P.28xd on Sun Apr 21 00:17:48 2013
//! **************************************************************************

SCHEMATIC START;
COMP "seven_seg_an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "seven_seg_an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "seven_seg_an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "seven_seg_an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "send" LOCATE = SITE "C9" LEVEL 1;
COMP "uart_rx" LOCATE = SITE "P11" LEVEL 1;
COMP "uart_tx" LOCATE = SITE "N10" LEVEL 1;
COMP "slide_switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "slide_switches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "slide_switches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "slide_switches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "slide_switches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "slide_switches<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "slide_switches<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "slide_switches<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "seven_seg_cath<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "seven_seg_cath<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seven_seg_cath<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seven_seg_cath<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seven_seg_cath<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seven_seg_cath<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seven_seg_cath<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seven_seg_cath<7>" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

