//! **************************************************************************
// Written by: Map P.28xd on Sat Apr 20 16:33:46 2013
//! **************************************************************************

SCHEMATIC START;
COMP "seven_seg_an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "seven_seg_an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "seven_seg_an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "seven_seg_an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "slide_switches<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "slide_switches<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "slide_switches<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "slide_switches<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "slide_switches<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "slide_switches<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "slide_switches<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "slide_switches<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "fromPC" LOCATE = SITE "N10" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "ndts_button" LOCATE = SITE "C9" LEVEL 1;
COMP "toPC" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

